// Site variables go here

// =============================
// Legends site
// =============================

$nav-bg: #8f8f8f;
$wrapper-bg: #ffffff;

$pill-bg: #c7c7c7;
$pill-active-bg: #585858;

$section-header-bg: #688ebf;

$game-header-bg: $pill-active-bg;

$form-ok: #3c763d;
$form-error: #a94442;
$fieldset-bg: #eeeeee;

// =============================
// Bootstrap overrides
// =============================

// Global
$body-bg: #ffffff;
