@import "compass";

// Define site variables
@import "partials/site_variables";

@import "bootstrap-compass";
@import "bootstrap";

// Override bootstrap styles and variables
@import "partials/bootstrap_overrides";

// =============================
// Wrapper
// =============================

body {
    background-color: $wrapper-bg;
    padding-left: 20px;
    padding-right: 20px;
}

.base-div {
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0px;
    padding-right: 0px;
}
// =============================
// Navigation
// =============================

.main-nav, .round-nav {
    background-color: $nav-bg;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.main-nav {
/*
    .clearfix();
*/
}

.main-nav a {
    width: 100px;
}

//.navbar {
//    margin-bottom: 10px;
//}

.main-navbar {
    margin-top: 10px;

    div {
        background-color: $nav-bg;
        border-radius: 5px;

        div.collapse {
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
}
.nav-item a {
    width: auto;
}

.round-nav > h4, .round-nav > .h4 {
    margin-top: 0px;
    color: $pill-bg;
}

#ladder-nav,
#stats-nav {
    margin-bottom: 5px;
    margin-left: 0px;
    min-height: 30px;
}

.club-sub-nav {
    list-style-type: None;
    text-align: center;
    margin-left: -40px;
}

// =============================
// In progress banner
// =============================

.in-progress {
    color: red;
}

// =============================
// Game details - tips/results
// =============================

.tab-content {
    padding-left: 15px;
}

.game-header {
    background-color: $game-header-bg;
    border-radius: 5px;
    color: #000000;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0px;
    padding-top: 10px;
}

.table-header {
    padding-left: 10px;
    font-weight: bold;
}

.table-cell-left {
    margin-bottom: 0px;
    text-align: left;
    white-space: pre;
}

.table-cell-right {
    margin-bottom: 0px;
    padding-right: 20px;
    text-align: right;
}

.table-cell-center {
    margin-bottom: 0px;
    text-align: center;
}

.game-row-1 {
    background-color: $wrapper-bg;
}
.game-row-2 {
    background-color: $pill-bg;
;
}

.legends_results {
    margin: 0 -15px;
    padding-left: 0px;
    padding-right: 0px;
}

/*
.tips-table tbody tr:nth-child(even) td {
    border-bottom: 1px solid #dcdcdc;
}
*/

.game-footer {
    background-color: $game-header-bg;
    border-radius: 5px;
    font-weight: 100;
}

.game-footer ul li:first-child {
    font-weight: bold;
}

.game-footer ul li.player-sub-cell {
    font-weight: 100;
}

.player-sub-cell {
    margin-left: 20px;
}

.table-splitter {
    background-color: $pill-bg;
}

.bye-splitter {
    background-color: $pill-bg;
    height: 5px;
}

p.supercoach-result {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

span.tip-score {
    font-weight: bold;
    text-align: right;
    float: right;
    padding-right: 10px;
}

.tips-table span.summary-tip-score {
    float: right;
    text-align: right;
    padding-right: 10px;
}

.tips-table td {
    margin-bottom: 0;
}

td.tips-table {
    padding-bottom: 0;
}

// =============================
// Forms
// =============================

.form-header {
    background-color: $pill-bg;
    //    border-radius: 5px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
}

.form-header .text-left {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-header p {
    background-color: $pill-bg;
//    border-top-left-radius: 5px;
//    border-top-right-radius: 5px;
    color: #000000;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 300px;
}

.tip-form .tip-time-ground {
    background-color: none;
    //    border-top-left-radius: 5px;
    //    border-top-right-radius: 5px;
    color: $pill-active-bg;
    margin-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.tip-fieldset .tip-time-ground p {
    background-color: none;
//    border-top-left-radius: 5px;
//    border-top-right-radius: 5px;
    color: pill-active-bg;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 10px;
    padding-bottom: 0px;
    padding-top: -5px;
}

.tips-table tbody tr:nth-child(4n-3),
.tips-table tbody tr:nth-child(4n-2),
.tip-fieldset:nth-child(even) {
    background-color: $fieldset-bg;
}

.tip-fieldset {
    border-color: $fieldset-bg;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.tip-sub-form {
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0;
    padding-bottom: 0px;
    padding-top: 5px;
}

.form-control-inline {
/*
    min-width: 150px;
    max-width: 175px;
*/
    border: 1px solid #a9a9a9;
    width: 70px;
    margin-left: 10px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
}

/*
.form-control-inline-select {
    min-width: 150px;
    max-width: 175px;
    width: 140px;
    margin-left: 10px;
    padding-left: 0px;
}
*/

.form-control-inline-select-supercoach {
/*
    min-width: 150px;
    max-width: 175px;
*/
    background-color: #ffffff;
    width: 250px;
    margin-left: 10px;
    margin-top: 5px;
}

.form-ok {
    background-color: $form-ok;
    border-color: $form-ok;
    border-style: solid;
}

.form-error {
    border-color: $form-error;
    border-style: solid;
}

.form-inline .checkbox input[type="checkbox"] {
    margin-left: 10px;
//    height: 20px;
//    width: 20px;
    font-size: 20px;
}

.winner label {
    vertical-align: top;
}
.winner {
    margin-left: 10px;
    width: 180px;
}

.winner ul {
    -webkit-padding-start: 10px;
    margin-right: 10px;
}

.winner input {
    text-align: center;
    width: 30px;
}

[id$="icon"] {
    &.glyphicon-ok {
        color: $form-ok;
    }
    &.glyphicon-remove {
        color: $form-error;
    }
    font-size: 24px;
    margin-left: 15px;
    vertical-align: middle;
    margin-top: -3px;
}
/*
[id$="icon"].glyphicon-ok {
        color: $form-ok;
}

[id$="icon"].glyphicon-remove {
        color: $form-error;
}
*/
.submit-btn {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

// =============================
// Stats
// =============================

#comp_rules h2 {
    background-color: $pill-bg;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#comp_rules h3 {
    font-size: 14px;
    font-weight: bold;
}

#comp_rules .container-fluid {
    margin-top: 10px;
}

.coaches-season {
    background-color: $pill-bg;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#past-winners {
    margin-top: 20px;
}

#past-winners .table tr th {
    background-color: $pill-bg;
    border-width: 0px;
}

#past-winners .table tr th:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#past-winners .table tr th:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#past-winners .table tr:first-child td {
    border-width: 0px;
}

#season-fixtures .round-detail > .table > thead > tr > th {
    background-color: $pill-bg;
    border-width: 0px;
}

#season-fixtures .round-detail > .table > thead > tr > th:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#season-fixtures .round-detail > .table > thead > tr > th:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#season-fixtures .round-detail > .table > thead > tr:first-child > td {
    border-width: 0px;
}

#season-nav,
#coach-v-coach,
#coach-v-coach_selection {
    margin-top: 20px;
}

#past-winners .club {
    font-weight: bold;
}

#coach-v-coach_selection .submit-btn,
#ladder_round_selection .submit-btn {
    margin-top: 20px;
}

#id_coach_1,
#id_coach_2,
#id_rnd,
#id_ladder_name {
    background-color: #ffffff;
    margin-left: 10px;
    width: 150px;
}
// =============================
// General
// =============================

.round-all {
    border-radius: 5px;
}

.round-left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.round-right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.tips-table .tip-score {
    margin-bottom: 0px;
    padding-right: 20px;
    text-align: right;
    white-space: pre;
}

.tips-table .summary-tip-score {
    margin-bottom: 0px;
    padding-right: 20px;
    text-align: right;
    white-space: pre;
}

.summary-header {
    text-align: left;
    font-weight: bold;
}

// .tip-form-container {
//     margin-left: 15px;
//     margin-right: 15px;
// }
.tip-form-container {
    margin-bottom: 10px;
}

.tips-table td ul {
    margin-bottom: 0;
}

#tip-submission ul {
    margin-bottom: 0px;
}

#tip-submission ul li {
    margin-bottom: 5px;
    width: 160px;
}

.tip-form-row .form-group {
    vertical-align: middle;
}

.tip-form-row .form-group span {
    vertical-align: bottom;
    top: -4px;
}

.table-cell-number-left {
    margin-bottom: 0px;
    text-align: right;
    padding-right: 20px;
}

.hidden {
    display: none;
}

#form-success {
    display: none;
}

#form-errors ul {
    list-style-type: none;
    padding-left: 10px;
}

// =============================
// Alignment
// =============================

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
;
}

/***** Manual tip forms *****/

.tip_forms_left {
    float: left;
    margin-left: 10px;
    width: 308px;
}

.tip_forms_centre {
    float: left;
    margin-left: 8px;
    width: 308px;
}

.tip_forms_right {
    float: right;
    margin-right: 10px;
    width: 308px;
}
.tip_form {
    border: 0px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 8px;
    border-radius: 5px;
}

.tip_form_game_header {
    background-color: #b0deb3;
    width: 298px;
    padding: 5px;
    padding-left: 0px;
    height: 33px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tip_form_teams {
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
    width: 288px;
}

.tip_form_venue {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
    width: 120px;
}

.tip_form_date {
    font-size: 12px;
    font-weight: bold;
    float: right;
    padding-right: 10px;
    text-align: right;
    width: 120px;
}

.tip_form_label {
    text-align: left;
    padding-left:5px;
    padding-right:5px;
    padding-bottom: 0;
    vertical-align: top;
    display: block;
    width: 40px;
    float: left;
}

.tip_form_winner {
    width: 130px;
}

.tip_form_player select {
    width: 230px;
}

.form_error {
    color: red;
    padding-left: 5px;
}

#tip_submission {
    background-color: #b0c4de;
}

.submit_button {
    background-color: #c7c7c7;
    clear: left;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 13px;
    font-weight: bold;
}
