{# fancybox popup for login form #}
<div style="display: None;">
    <div id="login">
        <div class="form_errors"></div>

        <form id="login_form" method="post" action=".">
            {% csrf_token %}

            <table>
                <tr>
                    <td colspan=2>Please log in:</td>
                </tr>
                <tr>
                    <td><label for="id_username">Username:</label></td>
                    <td>{{ login_form.username }}</td>
                </tr>
                <tr>
                    <td><label for="id_password">Password:</label></td>
                    <td>{{ login_form.password }}</td>
                </tr>
            </table>

            <p><input type="submit" name="login_submit" value="Login" ></p>
        </form>
    </div>
</div>


