{% extends "base_template.html" %}

{% block title %}

    Reset Password

{% endblock title %}

{% block content %}

    <h1>Reset Password</h1>

    <p>
        Forgotten your password?<br>
        Enter your email address below and your new password will be emailed to you.
    </p>

    <form action="" method="post">
        {% csrf_token %}

        {% if form.email.errors %}
            {{ form.email.html_error_list }}
        {% endif %}

        <p>
            <label for="id_email">
                E-mail address:
            </label>
            {{ form.email }}

            <input type="submit" value="Reset Password" />
        </p>
    </form>

{% endblock content %}


