<!-- Round navigation -->

<nav class="navbar navbar-default main-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="round-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="round-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for rnd in rounds %}
                    <li class="nav-item{% if rnd.id == selected_round.id %} active{% endif %}">
                        <a
                            {% if forloop.first %}
                                class="round-left"
                            {% elif forloop.last %}
                                class="round-right"
                            {% endif %}
                            href="/legends/{{ rnd.id }}/ladders/"
                        >
                        {{ rnd.tab_label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<!-- Ladder navigation -->
<nav id="ladder-nav" class="navbar navbar-default main-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="round-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="round-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for name in ladder_names %}
                    <li class="nav-item{% if ladder_name == name %} active{% endif %}">
                        <a
                            {% if forloop.first %}
                                class="round-left"
                            {% elif forloop.last %}
                                class="round-right"
                            {% endif %}
                            {% if name == 'Form Guide' %}
                                href="/legends/{{ selected_round.id }}/view_streak_ladder/"
                            {% else %}
                                href="/legends/{{ selected_round.id }}/view_{{ name|lower }}_ladder/"
                            {% endif %}
                        >
                        {% if name == 'Crowds' %}
                            Trethowan
                        {% else %}
                            {{ name }}
                        {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
