{# The template for round navigation. #}

<nav class="navbar navbar-default main-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="round-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="round-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for rnd in rounds %}
                    <li class="nav-item{% if rnd.id == selected_round.id %} active{% endif %}">
                        <a
                            {% if forloop.first %}
                                class="round-left"
                            {% elif forloop.last %}
                                class="round-right"
                            {% endif %}
                                href="/legends/{{ rnd.id }}/tips/">{{ rnd.tab_label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% if perms.legends.can_add_afl_result %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="round-right">
                        <a
                            href="/legends/{{ selected_round.id }}/submit_results/"
                            class="btn btn-primary"
                            >
                            Get Results
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
