{# The template for stats navigation. #}

<nav id="ladder-nav" class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="round-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="round-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for view_name, name in stats_names.items %}
                    <li class="nav-item{% if active_stats == view_name %} active{% endif %}">
                        <a
                            {% if forloop.first %}
                                class="round-left"
                            {% elif forloop.last %}
                                class="round-right"
                            {% endif %}
                            href="/legends/stats/{{ view_name }}/"
                        >
                            {{ name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
