{% comment %}
    The template for tip forms
{% endcomment %}

{% load make_field_id %}


{% comment %}
{% for form in forms %}
    {% if form %}
        <div class="tip-sub-form row">
            <div class="form-header col-md-2">
                <p class="text-center">{{ form.0.home }}</p>
                <p class="text-center">v</p>
                <p class="text-center">{{ form.0.away }}</p>
                <p class="text-center"><small>{{ form.0.ground }}</small></p>
                <p class="text-center"><small>{{ form.0.date|date:"D M d H:i" }}</small></p>
            </div>

            <!-- Form fields -->
            <div class="tip-form-row col-md-10">
                <div class="form-group">
                    <label class="control-label sr-only" for="id-{{ form.0.prefix }}-winner">Winner</label>
                    {{ form.0.winner }}
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label sr-only" for="id-{{ form.0.prefix }}-margin">Margin</label>
                    {{ form.0.margin }}
                    <span class="glyphicon form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label sr-only" for="id-{{ form.0.prefix }}-crowd">Crowd</label>
                    {{ form.0.crowd }}
                    <span class="glyphicon form-control-feedback"></span>
                </div>

                <div class="form-group">
                    <ul class="list-unstyled">
                        {% for supercoach in form.1 %}
                            <li>
                                <div>
                                    <label class="control-label sr-only" for="id-{{ form.1.prefix }}-supercoach">Crowd</label>
                                    {{ supercoach.player }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endcomment %}


{% for form in forms %}
    {% if form %}
        <div class="tip-sub-form">
            <div>
                <div class="form-header">
                    <div class="pull-left text-left">{{ form.0.home }} v {{ form.0.away }}</div>
                    <div class="pull-right text-right"><small>{{ form.0.date|date:"D M d H:i" }}</small></div>
                    <div class="text-center"><small>{{ form.0.ground }}</small></div>
                </div>
                <!-- <div class="col-md-6"></div> -->

            </div>

            <!-- Form fields -->
            <div class="tip-form-row">
                <div class="form-group">
                    <label class="control-label sr-only" for="id-{{ form.0.prefix }}-winner">Winner</label>
                    {{ form.0.winner }}
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label sr-only" for="id-{{ form.0.prefix }}-margin">Margin</label>
                    {{ form.0.margin }}
                    <span class="glyphicon form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label sr-only" for="id-{{ form.0.prefix }}-crowd">Crowd</label>
                    {{ form.0.crowd }}
                    <span class="glyphicon form-control-feedback"></span>
                </div>

                <div class="form-group">
                    <ul class="list-unstyled">
                        {% for supercoach in form.1 %}
                            <li>
                                <div>
                                    <label class="control-label sr-only" for="id-{{ form.1.prefix }}-supercoach">Crowd</label>
                                    {{ supercoach.player }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

