{% comment %}
    The template for home and away tips submission.
{% endcomment %}

<div class="tip-form-container">
    {% if round.is_finals %}
        <div id="finals_games">
            <div class="row">
                <div class="span4">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th colspan="3">Legends Games</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for game in round.games.all %}
                                <tr>
                                    <td class="game_left">{{ game.legends_home }}</td>
                                    <td class="versus">v</td>
                                    <td>{{ game.legends_away }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if not club_can_tip %}
                    <div class="span8">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th colspan="5">AFL Games</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for game in round.games.all %}
                                    <tr>
                                        <td class="game_left">{{ game.home }}</td>
                                        <td class="versus">v</td>
                                        <td>{{ game.away }}</td>
                                        <td>{{ game.venue }}</td>
                                        <td>{{ game.game_date|date:"D M d H:i"}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if club_can_tip %}
        <div id="tip-submission">
            <form class="form-inline" method="post" id="tip-form" action="/legends/submit_tips/">
                {% csrf_token %}
                {% for form in forms %}
                    <fieldset id="{{ form.0.prefix }}-tip-fieldset" class="tip-fieldset clearfix">
                        <input type="hidden" name="tip_id" value="{{ form.0.instance.id }}">

                        <div class="pull-right text-right tip-time-ground">
                            <p>
                                <small>{{ form.0.instance.game.game_date|date:"D M d H:i" }}</small>
                            </p>
                            <p>
                                <small>{{ form.0.instance.game.ground }}</small>
                            </p>
                        </div>
                        <div class="checkbox pull-left">
                            <label>
                                <input
                                    type="checkbox"
                                    id="{{ form.0.prefix }}-checkbox"
                                    name="{{ form.0.prefix }}-checkbox"
                                >
                            </label>
                        </div>

                        <div class="form-group winner">
                            <div class="radio">
                                <label>
                                    <input
                                        type="radio"
                                        id="{{ form.0.prefix }}-home"
                                        name="{{ form.0.prefix }}-winner"
                                        value="{{ form.0.instance.game.afl_home.id }}"
                                    >
                                    {{ form.0.instance.game.afl_home }}
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input
                                        type="radio"
                                        id="{{ form.0.prefix }}-away"
                                        name="{{ form.0.prefix }}-winner"
                                        value="{{ form.0.instance.game.afl_away.id }}"
                                    >
                                    {{ form.0.instance.game.afl_away }}
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.0.margin }}
                        </div>

                        <div class="form-group">
                            {{ form.0.crowd }}
                        </div>

                        <div class="form-group">
                            <ul class="list-unstyled ">
                                {% for supercoach in form.1 %}
                                    <li>{{ supercoach.player }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="{{ form.0.prefix }}-icon" class="glyphicon"></div>
                    </fieldset>
                {% endfor %}
                <button type="submit" class="btn btn-default submit-btn pull-right"
                        id="submit-all" name="submit-all">
                    Submit All
                </button>
                <button type="submit" class="btn btn-default submit-btn pull-right"
                        id="submit-selected" name="submit-selected">
                    Submit Selected
                </button>
            </form>
        </div>
    {% else %}
        <div class="span8">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="5">AFL Games</th>
                </tr>
                </thead>
                <tbody>
                {% for game in round.games.all %}
                    <tr>
                        <td class="game_left">{{ game.home }}</td>
                        <td class="versus">v</td>
                        <td>{{ game.away }}</td>
                        <td>{{ game.venue }}</td>
                        <td>{{ game.game_date|date:"D M d H:i"}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
