{% comment %}
    The template for tip forms
{% endcomment %}

{% comment %}
{% for form in forms %}
    {% if form %}
        <div class="tip-sub-form clearfix">
            <div class="form-header pull-left text-center">
                    <p>
                        {{ form.0.home }} v {{ form.0.away }}
                    </p>
                    <p>
                        <small>{{ form.0.date|date:"D M d H:i" }}</small>
                    </p>
                    <p>
                        <small>{{ form.0.ground }}</small>
                    </p>
            </div>

            <!-- Form fields -->
            <div class="tip-form-row">
                <form class="form-inline" method="post"
                      id="id-{{ form.0.prefix }}-tip-form" action=".">
                    {% csrf_token %}
                    <input
                        type="hidden" name="{{ form.0.prefix }}-tip"
                        value="{{ form.0.instance.id }}"
                        >

                    <div class="form-group">
                        {{ form.0.winner }}
                    </div>

                    <div class="form-group has-feedback">
                        {{ form.0.margin }}
                        <span class="glyphicon form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        {{ form.0.crowd }}
                        <span class="glyphicon form-control-feedback"></span>
                    </div>

                    <div class="form-group">
                        <ul class="list-unstyled ">
                            {% for supercoach in form.1 %}
                                <li>{{ supercoach.player }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button type="submit"
                            class="btn btn-default submit-btn pull-right"
                            name="submit-game-tips">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endcomment %}
{% for form in forms %}
    {% if form %}
        <div class="tip-form clearfix">
                {% comment %}
            <div class="form-header clearfix">
                <div class="pull-left text-left">
                    {{ form.0.instance.game.afl_home }} v {{ form.0.instance.game.afl_away }}
                    <p>
                        <small>{{ form.0.instance.game.game_date|date:"D M d H:i" }}</small>
                    </p>
                    <p>
                        <small>{{ form.0.instance.game.ground }}</small>
                    </p>
                </div>
                <div class="tip-sub-form clearfix">
                {% endcomment %}
                    <div class="pull-right text-right tip-time-ground">
                        <p>
                            <small>{{ form.0.instance.game.game_date|date:"D M d H:i" }}</small>
                        </p>
                        <p>
                            <small>{{ form.0.instance.game.ground }}</small>
                        </p>
                    </div>
                    <form class="form-inline" method="post"
                          id="id-{{ form.0.prefix }}-tip-form" action=".">
                        {% csrf_token %}
                        <input
                            type="hidden" name="{{ form.0.prefix }}-tip"
                            value="{{ form.0.instance.id }}"
                            >

                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox" id="{{ form.0.prefix }}-checkbox">
                            </label>
                        </div>

                        <div class="form-group winner">
                            <div class="radio">
                                <label>
                                <input
                                    type="radio"
                                    id="{{ form.0.prefix }}-home"
                                    name="{{ form.0.prefix }}-winner"
                                    value="home">
                                {{ form.0.instance.game.afl_home }}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input
                                        type="radio"
                                        id="{{ form.0.prefix }}-away"
                                        name="{{ form.0.prefix }}-winner"
                                        value="away">
                                {{ form.0.instance.game.afl_away }}
                                </label>
                            </div>
                        </div>

                        {% comment %}
                        <div class="form-group">
                            {{ form.0.winner }}
                        </div>
                        {% endcomment %}
                        <div class="form-group">
                            {{ form.0.margin }}
                        </div>

                        <div class="form-group has-feedback">
                            {{ form.0.crowd }}
                        </div>

                        <div class="form-group">
                            <ul class="list-unstyled ">
                                {% for supercoach in form.1 %}
                                    <li>{{ supercoach.player }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="{{ form.0.prefix }}-icon" class="glyphicon"></div>
                    </form>
            {% comment %}
                </div>
            </div>
            {% endcomment %}

            <!-- Form fields -->
{% comment %}
            <div class="tip-form-row">
                <form class="form-inline" method="post"
                      id="id-{{ form.0.prefix }}-tip-form" action=".">
                    {% csrf_token %}
                    <input
                        type="hidden" name="{{ form.0.prefix }}-tip"
                        value="{{ form.0.instance.id }}"
                    >

                    <div class="checkbox">
                        <input type="checkbox" id="{{ form.0.prefix }}-checkbox">
                    </div>

                    <div class="form-group">
                        {{ form.0.winner }}
                    </div>

                    <div class="form-group">
                        {{ form.0.margin }}
                    </div>

                    <div class="form-group has-feedback">
                        {{ form.0.crowd }}
                    </div>

                    <div class="form-group">
                        <ul class="list-unstyled ">
                            {% for supercoach in form.1 %}
                                <li>{{ supercoach.player }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="{{ form.0.prefix }}-icon" class="glyphicon"></div>
                    <button type="submit"
                            class="btn btn-default submit-btn pull-right"
                            name="submit-game-tips">
                        Submit
                    </button>
                </form>
            </div>
{% endcomment %}
        </div>
    {% endif %}
{% endfor %}
<button type="submit"
        class="btn btn-default submit-btn pull-right"
        name="submit-game-tips">
    Submit
</button>

