{% comment %}
    Template for displaying tips and results
{% endcomment %}

{% load humanize %}
{% comment %}
{% load chop %}
{% load split %}

{% cycle 'tip_result_left' 'tip_result_centre' 'tip_result_right' as tip_result_class silent %}
{% endcomment %}

<div class="container-fluid">
    <div class="row content">
        <ul class="nav nav-tabs nav-stacked col-md-2 pull-left">
            {% for game in games %}
                <li {% if forloop.counter == 1 %}class="active"{% endif %}>
                    <a href="#game_{{ game.id }}" data-toggle="tab" class="text-left">
                        <ul class="club-sub-nav">
                            <li>
                                {{ game.afl_home }}
                            </li>
                            <li>
                                v
                            </li>
                           <li>
                               {{ game.afl_away }}
                           </li>
                        </ul>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content col-md-10">
            {% for item in data %}
                {% with item.game as game %}
                    <div id="game_{{ game.id }}" class="tab-pane{% if forloop.counter == 1 %} active{% endif %}">
                        <div class="game-header row">
                            {% if game.status == 'Scheduled' %}
                                    <div class="col-md-4 text-left"><p>{{ game.afl_home }} v {{ game.afl_away }}</p></div>
                                    <div class="col-md-4 text-center"><p>{{ game.ground }}</p></div>
                                    <div class="col-md-4 text-right"><p>{{ game.game_date|date:"D M d H:i" }}</p></div>
                            {% else %}
                                    <div class="col-md-6 text-left"><p>{{ game.afl_home }} {{ game.afl_home_score }} - {{ game.afl_away_score }} {{ game.afl_away }}</p></div>
                                    <div class="col-md-6 text-right"><p>{{ game.ground }} ({{ game.crowd|intcomma }})</p></div>
                            {% endif %}
                            {% if game.status != 'Scheduled' %}
                                <p class="supercoach-result">
                                    <small>
                                        {% for sc in game.supercoach_rankings.all %}
                                        {{ sc.ranking }} - {{ sc.player }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                        </small>
                                </p>
                            {% endif %}
                        </div>
                        <table class="table table-condensed tips-table">
                            <thead>
                                <tr class="table-header">
                                    <td></td>
                                    <td></td>
                                    <td class="table-cell-left" colspan="2">Winner</td>
                                    <td class="table-cell-left" colspan="2">Margin</td>
                                    <td class="table-cell-left" colspan="2">Crowd</td>
                                    <td class="table-cell-left" colspan="2">Supercoach</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in item.game_tips %}
                                    {% for row in group %}
                                        <tr>
                                            {% include "result_tip_table.html" %}
                                        </tr>
                                    {% endfor %}
                                {% endfor %}

                                {% if item.bye_tips %}
                                    <tr class="bye-splitter"><td colspan="10"></td></tr>
                                    {% for tip in item.bye_tips %}
                                        <tr>
                                            {% include "bye_tip.html" %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                            <tfoot>
                                {% if game.status == 'Scheduled' %}
                                    {% include "tip_summary.html" %}
                                {% else %}
                                    {% include "result_summary.html" %}
                                {% endif %}
                            </tfoot>
                        </table>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
