{% comment %}
    The template for the Brownlow ladder view.
{% endcomment %}


<div class="ladder">
    <table class="table table-striped table-hover" id="brownlow_ladder">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="align-right">Score</th>
                <th class="align-right">1st</th>
                <th class="align-right">2nd</th>
                <th class="align-right">3rd</th>
                <th class="align-right">4th</th>
                <th class="align-right">5th</th>
                <th class="align-right">Duds</th>
                <th class="align-right">%</th>
                <th class="align-right">Min</th>
                <th class="align-right">Max</th>
                <th class="align-right">Avg</th>
            </tr>
        </thead>
        <tbody>
            {% for row in ladder %}
                <tr>
                    <td class="align-right">{{ forloop.counter }}</td>
                    <td class="align-right">
                        {% if row.previous_position %}
                            ({{ row.previous_position }})
                        {% else %}
                            (-)
                        {% endif %}
                    </td>
                    <td class="club">{{ row.club }}</td>
                    <td class="align-right">{{ row.score }}</td>
                    <td class="align-right">{{ row.rank_1 }}</td>
                    <td class="align-right">{{ row.rank_2 }}</td>
                    <td class="align-right">{{ row.rank_3 }}</td>
                    <td class="align-right">{{ row.rank_4 }}</td>
                    <td class="align-right">{{ row.rank_5 }}</td>
                    <td class="align-right">{{ row.nothing }}</td>
                    <td class="align-right">{{ row.strike_rate|floatformat:2 }}%</td>
                    <td class="align-right">{{ row.min_score }}</td>
                    <td class="align-right">{{ row.max_score }}</td>
                    <td class="align-right">{{ row.avg_score|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

