{% comment %}
    The template for the past winners view.
{% endcomment %}

{% load get %}


<div id="past-winners">
    <table class="table">
        <thead>
            <tr>
                <th class="past-winner-header">Season</th>
                <th class="past-winner-header">Premier</th>
                <th class="past-winner-header">Runner Up</th>
                <th class="past-winner-header">Minor Premier</th>
                <th class="past-winner-header">Wooden Spoon</th>
                <th class="past-winner-header">Points (Season)</th>
            </tr>
        </thead>
        <tbody>
            {% for season, categories in data.items %}
                <tr>
                    <td class="season">{{ season }}</td>
                    <td>
                        {% with categories|get:'Premier' as category %}
                            {% for winner in category %}
                                <p class="club">{{ winner.club }}</p>
                                <p>{{ winner.coaches|join:'<br>' }}</p>
                            {% endfor %}
                        {% endwith %}
                    </td>
                    <td>
                        {% with categories|get:'Runner Up' as category %}
                            {% for winner in category %}
                                <p class="club">{{ winner.club }}</p>
                                <p>{{ winner.coaches|join:'<br>' }}</p>
                            {% endfor %}
                        {% endwith %}
                    </td>
                    <td>
                        {% with categories|get:'Minor Premier' as category %}
                            {% for winner in category %}
                                <p class="club">{{ winner.club }}</p>
                                <p>{{ winner.coaches|join:'<br>' }}</p>
                            {% endfor %}
                        {% endwith %}
                    </td>
                    <td>
                        {% with categories|get:'Wooden Spoon' as category %}
                            {% for winner in category %}
                                <p class="club">{{ winner.club }}</p>
                                <p>{{ winner.coaches|join:'<br>' }}</p>
                            {% endfor %}
                        {% endwith %}
                    </td>
                    <td>
                        {% with categories|get:'High Season' as category %}
                            {% for winner in category %}
                                <p class="club">{{ winner.club }}</p>
                                <p>{{ winner.coaches|join:'<br>' }}</p>
                            {% endfor %}
                        {% endwith %}
                    </td>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th class="past-winner-header">Season</th>
                <th class="past-winner-header">Coleman</th>
                <th class="past-winner-header">Brownlow</th>
                <th class="past-winner-header">Margins</th>
                <th class="past-winner-header">Trethowan</th>
                <th class="past-winner-header">Points (Round)</th>
            </tr>
        </thead>
        <tbody>
            {% for season, categories in data.items %}
                <tr>
                    <td class="season">{{ season }}</td>
                    <td>
                        {% with categories|get:'Coleman' as category %}
                            {% for winner in category %}
                                <p class="club">{{ winner.club }}</p>
                                <p>{{ winner.coaches|join:'<br>' }}</p>
                            {% endfor %}
                        {% endwith %}
                    </td>
                    <td>
                        {% with categories|get:'Brownlow' as category %}
                            {% for winner in category %}
                                <p class="club">{{ winner.club }}</p>
                                <p>{{ winner.coaches|join:'<br>' }}</p>
                            {% endfor %}
                        {% endwith %}
                    </td>
                    <td>
                        {% with categories|get:'Margins' as category %}
                            {% for winner in category %}
                                <p class="club">{{ winner.club }}</p>
                                <p>{{ winner.coaches|join:'<br>' }}</p>
                            {% endfor %}
                        {% endwith %}
                    </td>
                    <td>
                        {% with categories|get:'Crowds' as category %}
                            {% for winner in category %}
                                <p class="club">{{ winner.club }}</p>
                                <p>{{ winner.coaches|join:'<br>' }}</p>
                            {% endfor %}
                        {% endwith %}
                    </td>
                    <td>
                        {% with categories|get:'High Round' as category %}
                            {% for winner in category %}
                                <p class="club">{{ winner.club }}</p>
                                <p>{{ winner.coaches|join:'<br>' }}</p>
                            {% endfor %}
                        {% endwith %}
                    </td>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


