{% comment %}
    The template for the margins ladder view.
{% endcomment %}


<div class="ladder">
    <table class="table table-striped table-hover" id="margins_ladder">
        <thead>
            <tr>
                <th class="ladder_pos"></th>
                <th class="ladder_pos"></th>
                <th></th>
                <th>Score</th>
                <th>Exact</th>
                <th>One Off</th>
                <th>Two Off</th>
                <th>Three Off</th>
                <th>Four Off</th>
                <th>Five Off</th>
                <th>Other</th>
                <th>Nothing</th>
                <th>Score %</th>
                <th>Bonus %</th>
                <th>Min</th>
                <th>Max</th>
                <th>Avg</th>
            </tr>
        </thead>
        <tbody>
            {% for row in ladder %}
                <tr>
                    <td class="ladder_pos">{{ forloop.counter }}</td>
                    <td class="ladder_pos">
                        {% if row.previous_position %}
                            ({{ row.previous_position }})
                        {% else %}
                            (-)
                        {% endif %}
                    </td>
                    <td class="club">{{ row.club }}</td>
                    <td>{{ row.score }}</td>
                    <td>{{ row.exact }}</td>
                    <td>{{ row.one }}</td>
                    <td>{{ row.two }}</td>
                    <td>{{ row.three }}</td>
                    <td>{{ row.four }}</td>
                    <td>{{ row.five }}</td>
                    <td>{{ row.other }}</td>
                    <td>{{ row.nothing }}</td>
                    <td>{{ row.strike_rate|floatformat:2 }}%</td>
                    <td>{{ row.bonus_strike_rate|floatformat:2 }}%</td>
                    <td>{{ row.min_score }}</td>
                    <td>{{ row.max_score }}</td>
                    <td>{{ row.avg_score|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

