{% comment %}
    The template for the Coleman ladder view.
{% endcomment %}


<div class="ladder span5">
    <table class="table table-striped table-hover" id="coleman_ladder">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th class="align-right">Score</th>
                <th class="align-right">Avg</th>
            </tr>
        </thead>
        <tbody>
            {% for row in ladder %}
                <tr>
                    <td class="align-right">{{ forloop.counter }}</td>
                    <td class="club">{{ row.club }}</td>
                    <td class="align-right">{{ row.score }}</td>
                    <td class="align-right">{{ row.avg_score|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

